body {
    margin: 5;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nome { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: medium;
    text-align: center;

}

.preco {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
    font-size: small;
    text-align: center;

}
.unitario img {
    width: 100px;

}

.unitario {
    border-radius: 5px;
    background-color: azure;
}

.container {
    background-color: lightblue;
}